################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoneyMaker.Api/bin/Debug/net8.0
/MoneyMaker.Api/obj/Debug/net8.0/ref
/MoneyMaker.Api/obj/Debug/net8.0/refint
/MoneyMaker.Api/obj/Debug/net8.0/staticwebassets
/MoneyMaker.Api/obj/Debug/net8.0/apphost.exe
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.AssemblyInfo.cs
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.AssemblyInfoInputs.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.BuildWithSkipAnalyzers
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.CopyComplete
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.CoreCompileInputs.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.FileListAbsolute.txt
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.dll
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.genruntimeconfig.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.MvcApplicationPartsAssemblyInfo.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.MvcApplicationPartsAssemblyInfo.cs
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.pdb
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.sourcelink.json
/MoneyMaker.Api/obj/Debug/net8.0/staticwebassets.build.json
/.vs/MoneyMaker/v17/.suo
/.vs/MoneyMaker/FileContentIndex/39fed385-1462-4d99-8393-e95e38fe9dab.vsidx
*.vsidx
/.vs/MoneyMaker/config
/MoneyMaket.Infrastructure/obj
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.assets.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.AssemblyReference.cache
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.dgspec.json
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.g.props
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.g.targets
/MoneyMaker.Api/obj/project.assets.json
/MoneyMaker.Api/obj/project.nuget.cache
/MoneyMaker.Api/appsettings.json
/MoneyMaker.Core/bin/Debug/net8.0/MoneyMaker.Core.deps.json
/MoneyMaker.Core/bin/Debug/net8.0/MoneyMaker.Core.dll
/MoneyMaker.Core/bin/Debug/net8.0/MoneyMaker.Core.pdb
/MoneyMaker.Core/Identity/ApplicationRole.cs
/MoneyMaker.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MoneyMaker.Core/obj/Debug/net8.0/ref/MoneyMaker.Core.dll
/MoneyMaker.Core/obj/Debug/net8.0/refint
/.gitignore
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.AssemblyInfo.cs
/MoneyMaket.Infrastructure/bin/Debug/net8.0/MoneyMaker.Core.dll
/MoneyMaket.Infrastructure/bin/Debug/net8.0/MoneyMaker.Core.pdb
/MoneyMaket.Infrastructure/bin/Debug/net8.0/MoneyMaket.Infrastructure.deps.json
/MoneyMaket.Infrastructure/bin/Debug/net8.0/MoneyMaket.Infrastructure.dll
/MoneyMaket.Infrastructure/bin/Debug/net8.0/MoneyMaket.Infrastructure.pdb
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.AssemblyInfoInputs.cache
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.assets.cache
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.csproj.AssemblyReference.cache
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.csproj.CoreCompileInputs.cache
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.csproj.FileListAbsolute.txt
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.dll
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.GeneratedMSBuildEditorConfig.editorconfig
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.GlobalUsings.g.cs
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.pdb
/MoneyMaker.Core/obj/Debug/net8.0/MoneyMaker.Core.sourcelink.json
/MoneyMaker.Core/obj/MoneyMaker.Core.csproj.nuget.dgspec.json
/MoneyMaker.Core/obj/MoneyMaker.Core.csproj.nuget.g.props
/MoneyMaker.Core/obj/MoneyMaker.Core.csproj.nuget.g.targets
/MoneyMaker.Core/obj/project.assets.json
/MoneyMaker.Core/obj/project.nuget.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.assets.cache
/MoneyMaker.Api/obj/Debug/net8.0/MoneyMaker.Api.csproj.AssemblyReference.cache
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.dgspec.json
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.g.props
/MoneyMaker.Api/obj/MoneyMaker.Api.csproj.nuget.g.targets
/MoneyMaker.Api/obj/project.assets.json
/MoneyMaker.Api/obj/project.nuget.cache
/MoneyMaker.Core/Settings/ConfigurationSettings.cs
/.vs/MoneyMaker/DesignTimeBuild/.dtbcache.v2
